#pageTitle {
    margin: 10px;
    background-color: #151718;
}

p{
    margin: 10px;
}

.sortbuttons li{
    list-style: none;
    float: left;
}

.columnName{
    float: left;
}

table {
    margin: 10px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #ccc;
    line-height: 1.5;
}


table td.todo-id {
    width: 150px;
    padding: 10px;
    text-align: center;
}

table td.title {
    width: 150px;
    padding: 10px;
}

table td.detail {
    width: 500px;
    padding: 10px;
}

.operation-area{
    margin: 10px;
}

button{
    padding: 0.3em 1em;
}



label span{
    display:block;
    background-color:#01b6ed;
    color:#fff;
    width:200px;
    line-height:40px;
    border-radius:4px;
    text-align:center;
}

/*checkboxがチェックの状態になったらpopupを表示させる*/
input[type="checkbox"]:checked + #popup{
    display:block;
}

/*popup表示させたいコンテンツのレイアウトと位置*/
#popup{
    width:20%;
    line-height:50px;
    background:#000;
    padding:0 1%;
    box-sizing:border-box;
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

label{
    display:block;
}  

label span:hover{
    cursor:pointer;
}

input[type="checkbox"]{
    display:none;
}

/*checkboxがチェックの状態になったらpopupを表示させる*/
input[type="checkbox"]:checked + #popup{
    display:block;
}

h2{
    color: crimson;
}