<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Sample TODO Application</title>

    <link rel="stylesheet" href="css/detail.css" type="text/css" />
</head>

<body>
    <h1>New Todo</h1>

    <form method="POST" action="./register" th:object="${todoApp}">
        <ul>
            <li>
                <label for="category">Category</label>
                <input id="title" type="text" name="category"></input>
                <span id="title-error" th:errors="*{category}"></span>
            </li>
            <li>
                <label for="title">Title</label>
                <input id="title" type="text" name="title"></input>
                <span id="title-error" th:errors="*{title}"></span>
            </li>
            <li>
                <label for="detail">Detail</label>
                <textarea id="detail" type="text" name="detail"></textarea>
                <span id="detail-error" th:errors="*{detail}"></span>
            </li>
            <li>
                <label for="deadline">Deadline</label>
                <input id="deadline" type="date" name="deadline"></input>
            </li>
            <li><input class="button" type="submit" name="register" value="Register"></input></li>
        </ul>
    </form>
</body>

</html>