<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Sample TODO Application</title>

    <link rel="stylesheet" href="css/detail.css" type="text/css" />
</head>

<body>
    <h1>Edit Todo</h1>

    <form method="POST" action="./update" th:object="${todoApp}">
        <input type="hidden" name="todoId" th:value="*{todoId}"></input>
        <ul>
            <li>
                <label for="Category">Category</label>
                <input id="category" type="text" name="category" th:value="*{category}"></input>
                <span id="title-error" th:errors="*{category}"></span>
            </li>
            <li>
                <label for="title">Title</label>
                <input id="title" type="text" name="title" th:value="*{title}"></input>
                <span id="title-error" th:errors="*{title}"></span>
            </li>
            <li>
                <label for="detail">Detail</label>
                <textarea id="detail" type="text" name="detail" th:text="*{detail}"></textarea>
                <span id="title-error" th:errors="*{detail}"></span>
            </li>
            <li>
                <label for="deadline">Deadline</label>
                <input id="deadline" type="date" name="deadline" value="2021-05-20"></input>
            </li>
            <li>
                <input class="button" type="submit" name="update" value="update"></input>
                <button type="button" onclick="location.href='./index'">Cancel Edit</button>
            </li>
        </ul>
    </form>
</body>

</html>