<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Sample TODO Application</title>

    <link rel="stylesheet" href="css/index.css" type="text/css" />
</head>

<body th:object="${todoApp}">
    <h1><span id="pageTitle">Todo List</span></h1>
    <p th:if="${#fields.hasAnyErrors()}">不正な入力が行われました</p>
    <div class="operation-area">
        <button type="button" onclick="location.href='./new'">New Todo</button>
        <button type="button" onclick="location.href='./trashbox'">Trash Box</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>
                    #
                    <ul class="sortbuttons">
                        <li>
                            <form method="GET" action="./sort">
                                <input type="hidden" name="sortColumn" value="TODO_ID"></input>
                                <input type="hidden" name="sortType" value="ASC"></input>
                                <button type="submit">↑</button>
                            </form>
                        </li>
                        <li>
                            <form method="GET" action="./sort">
                                <input type="hidden" name="sortColumn" value="TODO_ID"></input>
                                <input type="hidden" name="sortType" value="DESC"></input>
                                <button type="submit">↓</button>
                            </form>
                        </li>
                    </ul>
                </th>
                <th>Category
                    <ul class="sortbuttons">
                        <li>
                            <form method="GET" action="./sort">
                                <input type="hidden" name="sortColumn" value="CATEGORY"></input>
                                <input type="hidden" name="sortType" value="ASC"></input>
                                <button type="submit">↑</button>
                            </form>
                        </li>
                        <li>
                            <form method="GET" action="./sort">
                                <input type="hidden" name="sortColumn" value="CATEGORY"></input>
                                <input type="hidden" name="sortType" value="DESC"></input>
                                <button type="submit">↓</button>
                            </form>
                        </li>
                    </ul>
                </th>
                <th>Title
                    <ul class="sortbuttons">
                        <li>
                            <form method="GET" action="./sort">
                                <input type="hidden" name="sortColumn" value="TITLE"></input>
                                <input type="hidden" name="sortType" value="ASC"></input>
                                <button type="submit">↑</button>
                            </form>
                        </li>
                        <li>
                            <form method="GET" action="./sort">
                                <input type="hidden" name="sortColumn" value="TITLE"></input>
                                <input type="hidden" name="sortType" value="DESC"></input>
                                <button type="submit">↓</button>
                            </form>
                        </li>
                    </ul>
                </th>
                <th>Detail
                    <ul class="sortbuttons">
                        <li>
                            <form method="GET" action="./sort">
                                <input type="hidden" name="sortColumn" value="DETAIL"></input>
                                <input type="hidden" name="sortType" value="ASC"></input>
                                <button type="submit">↑</button>
                            </form>
                        </li>
                        <li>
                            <form method="GET" action="./sort">
                                <input type="hidden" name="sortColumn" value="DETAIL"></input>
                                <input type="hidden" name="sortType" value="DESC"></input>
                                <button type="submit">↓</button>
                            </form>
                        </li>
                    </ul>
                </th>
                <th>Deadline
                    <ul class="sortbuttons">
                        <li>
                            <form method="GET" action="./sort">
                                <input type="hidden" name="sortColumn" value="DEADLINE"></input>
                                <input type="hidden" name="sortType" value="ASC"></input>
                                <button type="submit">↑</button>
                            </form>
                        </li>
                        <li>
                            <form method="GET" action="./sort">
                                <input type="hidden" name="sortColumn" value="DEADLINE"></input>
                                <input type="hidden" name="sortType" value="DESC"></input>
                                <button type="submit">↓</button>
                            </form>
                        </li>
                    </ul>
                </th>

                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="result : ${todoList}">
                <!--tymeleafの記述方法 -->
                <td class="todo-id" th:text="${result['todoId']}"></td>
                <td class="category" th:text="${result['category']}"></td>
                <td class="title" th:text="${result['title']}"></td>
                <td class="detail" th:text="${result['detail']}"></td>
                <td class="deadline" th:text="${result['deadline']}"></td>
                <td>
                    <label>
                        <span>delete</span>
                        <input type="checkbox" name="checkbox"></input>
                        <div id="popup">
                            <h2>本当に消しますか？</h2>
                            <form method="POST" action="./delete">
                                <input type="hidden" name="deleteId" th:value="${result['todoId']}"></input>
                                <input class="button" type="submit" value="Yes"></input>
                            </form>
                            <form method="POST" action="./index">
                                <input type="hidden" name="deleteId" th:value="${result['todoId']}"></input>
                                <input class="button" type="submit" value="No"></input>
                            </form>
                        </div>
                    </label>
                </td>
                <td>
                    <form method="GET" action="./edit">
                        <input type="hidden" name="todoId" th:value="${result['todoId']}"></input>
                        <input type="hidden" name="category" th:value="${result['category']}"></input>
                        <input type="hidden" name="title" th:value="${result['title']}"></input>
                        <input type="hidden" name="detail" th:value="${result['detail']}"></input>
                        <input class="button" type="submit" value="edit"></input>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>