<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Sample TODO Application</title>

    <link rel="stylesheet" href="css/index.css" type="text/css" />
</head>

<body th:object="${todoApp}">
    <h1>Todo List</h1>
    <span th:if="${#fields.hasAnyErrors()}">不正な入力が行われました</span>
    <div class="operation-area">
        <button type="button" onclick="location.href='./new'">New Todo</button>
        <button type="button" onclick="location.href='./trashbox'">Trash Box</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>#
                    <form method="GET" action="./sort">
                        <input type="hidden" name="sortColumn" value="TODO_ID"></input>
                        <input type="hidden" name="sortType" value="ASC"></input>
                        <button type="submit">↑</button>
                    </form>
                    <form method="GET" action="./sort">
                        <input type="hidden" name="sortColumn" value="TODO_ID"></input>
                        <input type="hidden" name="sortType" value="DESC"></input>
                        <button type="submit">↓</button>
                    </form>
                </th>
                <th>Category
                    <form method="GET" action="./sort">
                        <input type="hidden" name="sortColumn" value="CATEGORY"></input>
                        <input type="hidden" name="sortType" value="ASC"></input>
                        <button type="submit">↑</button>
                    </form>
                    <form method="GET" action="./sort">
                        <input type="hidden" name="sortColumn" value="CATEGORY"></input>
                        <input type="hidden" name="sortType" value="DESC"></input>
                        <button type="submit">↓</button>
                    </form>
                </th>
                <th>Title
                    <form method="GET" action="./sort">
                        <input type="hidden" name="sortColumn" value="TITLE"></input>
                        <input type="hidden" name="sortType" value="ASC"></input>
                        <button type="submit">↑</button>
                    </form>
                    <form method="GET" action="./sort">
                        <input type="hidden" name="sortColumn" value="TITLE"></input>
                        <input type="hidden" name="sortType" value="DESC"></input>
                        <button type="submit">↓</button>
                    </form>
                </th>
                <th>Detail
                    <form method="GET" action="./sort">
                        <input type="hidden" name="sortColumn" value="DETAIL"></input>
                        <input type="hidden" name="sortType" value="ASC"></input>
                        <button type="submit">↑</button>
                    </form>
                    <form method="GET" action="./sort">
                        <input type="hidden" name="sortColumn" value="DETAIL"></input>
                        <input type="hidden" name="sortType" value="DESC"></input>
                        <button type="submit">↓</button>
                    </form>
                </th>
                <th>Deadline
                    <span>
                        <form method="GET" action="./sort">
                            <input type="hidden" name="sortColumn" value="DEADLINE"></input>
                            <input type="hidden" name="sortType" value="ASC"></input>
                            <button type="submit">↑</button>
                        </form>
                        <form method="GET" action="./sort">
                            <input type="hidden" name="sortColumn" value="DEADLINE"></input>
                            <input type="hidden" name="sortType" value="DESC"></input>
                            <button type="submit">↓</button>
                        </form>
                    </span>
                </th>

                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="result : ${todoList}">
                <!--tymeleafの記述方法 -->
                <td class="todo-id" th:text="${result['todoId']}"></td>
                <td class="category" th:text="${result['category']}"></td>
                <td class="title" th:text="${result['title']}"></td>
                <td class="detail" th:text="${result['detail']}"></td>
                <td class="deadline" th:text="${result['deadline']}"></td>
                <td>
                    <form method="POST" action="./delete">
                        <input type="hidden" name="deleteId" th:value="${result['todoId']}"></input>
                        <label>
                            <span>delete</span>
                            <input type="checkbox" name="checkbox"></input>
                            <div id="popup">
                                <h2>本当に消しますか？</h2>
                            </div>
                        </label>
                    </form>
                </td>
                <td>
                    <form method="GET" action="./edit">
                        <input type="hidden" name="todoId" th:value="${result['todoId']}"></input>
                        <input type="hidden" name="title" th:value="${result['title']}"></input>
                        <input type="hidden" name="detail" th:value="${result['detail']}"></input>
                        <input class="button" type="submit" value="edit"></input>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>