<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Sample TODO Application</title>

    <link rel="stylesheet" href="css/index.css" type="text/css" />
</head>

<body>
    <h1>Todo List</h1>
    <div class="operation-area">
        <button type="button" onclick="location.href='./new'">New Todo</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Detail</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="result : ${todoList}">
                <!--tymeleafの記述方法 -->
                <td class="todo-id" th:text="${result['todoId']}"></td>
                <td class="title" th:text="${result['title']}"></td>
                <td class="detail" th:text="${result['detail']}"></td>
                <td>
                    <form method="GET" action="./delete">
                        <input type="hidden" name="deleteId" th:value="${result['todoId']}"></input>
                        <input class="button" type="submit" value="delete"></input>
                    </form>
                </td>
                <td>
                    <form method="GET" action="./edit">
                        <input type="hidden" name="todoId" th:value="${result['todoId']}"></input>
                        <input type="hidden" name="title" th:value="${result['title']}"></input>
                        <input type="hidden" name="detail" th:value="${result['detail']}"></input>
                        <input class="button" type="submit" value="edit"></input>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>